<h1>Listing searches</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Max price</th>
    <th>Location</th>
    <th>Link to Search</th>
    <th></th>
    <th></th>
  </tr>

<% @searches.each do |search| %>
  <tr>
    <td><%= search.category %></td>
    <td><%= search.max_price %></td>
    <td><%= search.location %></td>
    <td><%= link_to 'Go to Results', craigslist_items_path(:search_url => search.get_url()) %></td>
    <!-- The link_to goes to the searches controller to see what happens next. The controller will direct you to the correct view. -->
    <td><%= link_to 'Show', search %></td>
    <td><%= link_to 'Edit', edit_search_path(search) %></td>
    <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Search', new_search_path %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
