<h1>Listing searches</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Max price</th>
    <th>Location</th>
    <th>Link to Search</th>
    <th></th>
    <th></th>
  </tr>

<% @searches.each do |search| %>
  <tr>
    <td><%= search.category %></td>
    <td><%= search.max_price %></td>
    <td><%= search.location %></td>
    <td><a href=<%= search.get_url() %>>Go to Results</a></td>
    <td><%= link_to 'Show', search %></td>
    <td><%= link_to 'Edit', edit_search_path(search) %></td>
    <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Search', new_search_path %>
